$text-color-light: #ffffff;

$text-color-dark: #010101;

$text-color-bright: #f44336;

$text-color-darkless: #8c8c8c;

$text-color-form: #989898;

$text-color-form-main: #707070;



$background-color-darck: #222222;

$background-color-light: #ffffff;

$background-color-bright: #f78620;

$background-color-btn: #fafafa;

$background-color-btn-bright: #fc4242;



$border-color-light: #dcdedd;

$border-color-darck: #656969;

$border-color-bright: #45d1ae;

$border-color-form: #bdbdbd;

