body, html {
	margin: 0;
	padding: 0;
}

body > *{
	min-width: 320px;
}


*{
	/*outline: 1px solid red;*/
	box-sizing: border-box;

}

ul{
	list-style: none;
}

a{
	color: inherit;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.container{
	width: 1174px;
	margin: 0 auto;
}

.display-none {
	display: none;
}