@media all and (max-width: 1400px) {
	.container {
		width: 95%;
		margin: 0 auto;
	}

	.latest-offer{
		width: 95%;

	}

	.search13-container {
	margin-top: 120px;
	margin-left: 15%;
	}

	.search-form-container{
		width: auto;
	}

	.offer-container {
		width: 85%;
		margin: 0 auto;
	}
	.advantage_img{
		justify-content: space-between;
	}
}

@media all and (max-width: 1250px){
	.search13-container{
		width: 95%;
		margin: 120px auto 0 auto;
	}
}


@media all and (max-width: 1105px) {

	.search {
		padding-bottom: 120px;
		height: auto;
		background-size: cover;
	}
	.flight-search13, .cruise-search13, .hotel-search13{
		width: 100%;
	}
	.search-form{
		width: 95%;
		margin: 10px auto;
	}
	.cruise-search13{
		justify-content: space-between;
	}
	.cruise-search-13-btn{
		margin-right: 10px;
	}

	.children-amount-label::after,
	.adult-amount-label::after,
	.adult-amount-label::after {
		display: none;
	}

	.date-input{
		width: 100%;
	}

	.price-cont {
		flex-wrap: wrap;
	}
}

@media all and (max-width: 1070px){
		.search {
		background-position: center;
	}
	.flight-search13{
		justify-content: space-between;
	}
	.addtional-options-container{
		top: 20px;
		width: auto;
		flex-direction: column;
		height: auto;
	}
	.addtional-options-container > * {
		width: 200px;
		height: 50px;
	}
}

@media all and (max-width: 960px) {
	.direction-container,
	.date-container {
		display: inline-block;
		width: 100%;
	}
	.date, .direction_item {
		width: 100%;
		margin: 0;
	}
	.direction-to {
		margin-top: 20px;
	}
	.cruise-search13{
		justify-content: flex-start;
	}
	
	.cruise-input:not(.reset-search13-cruise-btn) {
		width: 49%;
	}


	.destinations-container,
	.destinations-container,
	.departure-port-container,
	.cruise-lines-container,
	.cruise-ships-container,
	.departure-date-container,
	.length-container {
		display: flex;
		margin-bottom: 15px;
		width: 100%;
	}


}

@media all and (max-width: 800px) {

	.search-nav-container {
		flex-wrap: wrap;
	}

	.footer-section:not(:last-child){
		/*margin-left: 20px;*/
	}

	.search-nav{
	height: auto;
}

/*menu*/
@media all and (max-width: 700px) {
	.nav-bth {
	display: block;
	}

	.nav-link-container {
		display: block;
		position: absolute;
		width: 200px;
		z-index: 9999;
		right: -200px;
		background-color: rgba(255, 255, 255, 0.9);
		box-shadow: -8px 6px 18px -4px rgba(83,83,83,1);
		
	}

	.show-menu {
		right: 0;
	}

	.search-nav__item:not(.logo) {
		display: block;
		margin: 0;
		padding-left: 10px;
		color:#535353;
	}


}
/*menu*/

@media all and (max-width: 700px) {
	.trip-type-container,
	.addtional-options{
		width: 40%;
		margin-right: 50%;
		margin-left: 0;	
	}
}

	.footer-section  {
		width: 200px;
		margin-right: 20px;
	}

	.footer-container{
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

@media all and (max-width: 683px) {
	.flight-from{
		width: 49%;
	}
	.flight-to{
		width: 49%;
	}
}

@media all and (max-width: 660px) {
	.search-form-tabs__tab {
		width: 33.33333333%;
		margin: 0;
	}

	.adult-amount-container,
	.class-cabine-container,
	.children-amount-container,
	.children-amount-container,
	.preferred-airlines-container,
	.flexible-dates-container,
	.hotel-children-1,
	.adult-amount-container,
	.rating-container,
	.hotel-children-1
	{
		display: flex;
		width: 100%;
	}
	.class-cabine-container,
	.flexible-dates-container,
	.hotel-children {
		margin-top: 20px;
	}
	.hotel-children-1{
		margin-left: 0;
	}

	.search-flight,
	.search-cruise,
	.serch-hotel-btn{
		width: 85%;
		margin-left: auto;
		margin-right: auto;
	}

	.search-flight,
	.search-cruise,
	.serch-hotel-btn{
		background-position: 22% center;
	}


	.advantage-btn {
		width: 95%;
	}

	.offer-container{
		width: 95%;
	}
	.advantage-btn{
		height: 50px;
	}
}

@media all and (max-width: 550px) {
	.user-action{
		width: 100%;
		justify-content: space-between;
		flex-wrap: wrap;	
	}
	.header {
		height: auto;
	}
	.header-container{
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.addtional-options-container{
		left: 0;
	}


	.flight-from{
		width: 100%;
	}
	.flight-to{
		width: 100%;
	}
	.offer-container{
		flex-wrap: wrap;
	}

	.latest-offer-search13{
		width: 90%;
	}

}

@media all and (max-width: 480px){

	.cruise-search13{
		flex-direction: column;
	}
	
	.cruise-input:not(.reset-search13-cruise-btn) {
		width: 90%;
	}

	.cruise-search-13-btn{
		margin-bottom: 10px;
	}


	.advantage, .advantage-btn {
		font-size: 10px;
		text-align: center;
	}
}

@media all and (max-width: 400px) {
	.to-left,
	.to-right{
		display: none;
	}
}


@media all and (max-width: 370px) {
	
	.search13-tab{
		width: 33.333%;
		margin-right: 0;
		font-size: 14px;
	}

	.trip-type-container,
	.addtional-options{
		width: 60%;
		margin-right: 30%;
		margin-left: 0;	
	}	
}