@media all and (max-width: 1400px) {
	.container {
		width: 95%;
		margin: 0 auto;
	}

	.latest-offer{
		width: 95%;

	}

	.search-form-container{
		width: auto;
	}

	.offer-container {
		width: 85%;
		margin: 0 auto;
	}
}

@media all and (max-width: 1135px) {
	.search-wrap{
		/*wi*/
	}
}