@import 'glob-var/_glob-var.scss';
@import 'mixin/mixin.scss';

.advantage {
	@include font("OpenSans", 15px, 600);
	padding-top: 68px;
	background-image: url(../img/bg-advantage.png);
	height: 320px;
}

.average-container{
	width: 1174px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.advantage-carg {
	width: 370px;
	padding: 35px;
	padding-top: 2px;
	padding-bottom: 0;
	padding-left: 1%;
	padding-right: 1%;
}

.advantage_img{
	width: 100%;
}

.advantage-description{
	border: 1px solid $border-color-form;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.advantage-carg_img{
	font-size: 0px;
	height: 217.047px;
}

.advantage-description {
	margin-top: -10px;
	height: 185px;
}

.advantage-title{
	text-transform: uppercase;
}

.advantage-btn{
	@include font("OpenSans", 15px, 600);
	width: 190px;
	height: 30px;
	background-color: $background-color-btn-bright;
	border: none;
	color: $text-color-light;
	text-transform: uppercase;
	margin-bottom: 35px;
}

