@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

@font-face {
 font-family: "Dense";
 src: url("../fonts/Dense.ttf");
}

@font-face {
 font-family: "Dokchamp";
 src: url("../fonts/Dokchamp.ttf");
}

@font-face {
 font-family: "OpenSans";
 src: url("../fonts/OpenSans.ttf");
}


