@import 'glob-var/_glob-var.scss';

.search {
	background-image: url(../img/bg-search.png);
	background-size: cover;
	height: 870px;
}

.search-nav{
	height: 80px;
	font-size: 20px;
	text-transform: uppercase;
	background-color: $background-color-darck;
	opacity: 0.65;
}

.search-nav-container{
	display: flex;
	justify-content: space-between;

	& a {
		display: inline-block;
		height: 80px;
	}

	& a:not(:last-child) {
		margin-right: 10px;
	}

	& a:hover {
		border-bottom: 3px solid $background-color-btn-bright;
		text-decoration: none;
	}
}



.search-nav__item {
	height: 100%;
	line-height: 4;
	color: $text-color-light;
}

.search-nav__item:hover{
	color: $text-color-light;
}

.search-form-container{
	background-color: $text-color-light;
	padding: 0 20px 20px 20px;
	font-size: 0;
}

.search-form {
	margin-top: 15px;
	margin-left: 15px;
	width: 1020px;
}
.search-form-tabs {
	font-size: 0;
}

.search-form-tabs__tab{
	margin-right: 5px;
	margin-bottom: 0;
	display: inline-block;
	color: $text-color-light;
	width:184px;
	height:74px;
	font-size: 20px;
	text-align: center;
	line-height: 74px;
	text-transform: uppercase;
	background-color: $background-color-bright;
	background-repeat: no-repeat;
	background-position: 15% center;

	&.active-tab {
		background-color: $background-color-light;
		color: $text-color-darkless;
	}
	&:hover{
		color: $background-color-light;
	}
}

.search-type-flight{
	display: none;
}
.search-type-cruise{
	display: none;
}
.search-type-hotel{
	display: none;
}

input[id="display-search-type-flight"]:checked ~ .search-type-flight {
	display: block;
}
input[id="display-search-type-cruise"]:checked ~ .search-type-cruise {
	display: block;
}
input[id="display-search-type-hotel"]:checked ~ .search-type-hotel {
	display: block;
}

input[name="display-search-type"] {
	display: none;
}

.flight-tab {
	padding-left: 15px;
	background-image: url(../img/flight-ico.png);
	&.active-tab{
		background-image: url(../img/flight-active-ico.png);
	}
}

.active-tab:hover{
	color: $text-color-darkless;
}

.cruise-tab {
	padding-left: 15px;

	background-image: url(../img/cruise-ico.png);
	&.active-tab{
		background-image: url(../img/cruise-active-ico.png);
	}
}
.hotel-tab {

	background-image: url(../img/hotel-ico.png);
	&.active-tab{
		background-image: url(../img/hotel-active-ico.png);
	}
}

.search-type-container {
	width: 100%;

}

.flight-type{
	font-size: 0px;
}
.flight-type-label {
	font-size: 16px;
	line-height: 83px;
	padding-left: 40px;
	padding-right: 10px;
	height: 80px;
	margin-bottom: 0;
	display: inline-block;
	text-transform: uppercase;
	background-image: url(../img/uncheck.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}

.flight-type input {
	display: none;
}

input[id="flight-type-round-trip"]:checked ~ 
.flight-type-label[for="flight-type-round-trip"]{
	background-image: url(../img/check.png);
}

input[id="flight-type-multi-city"]:checked ~ 
.flight-type-label[for="flight-type-multi-city"]{
	background-image: url(../img/check.png);
}

input[id="flight-type-one-way"]:checked ~ 
.flight-type-label[for="flight-type-one-way"]{
	background-image: url(../img/check.png);
}

.direction_item {
	width: 48%;
	/*height: 60px;*/
	display: inline-block;
}
.direction-container{
	font-size: 0;
	margin-bottom: 20px;
}
.direction_item{
	padding: 8px;
	border: 1px solid $border-color-form;
}
.direction-label {
	display: block;
	font-size: 12px;
	padding: 0;
	text-transform: uppercase;
	line-height: 1;
	padding-left: 15px;
	color: $text-color-form-main;
	background-repeat: no-repeat;
	background-position: 0 center;
}
.direction-from {
	margin-right: 36px;
	margin-left: 0;
}
.direction_item input {
	font-size: 18px;
	display: block;
	width: 100%;
	color: $text-color-form;
	border: none;
	padding: 0;
	margin: 0;
	padding-left: 5px;
	text-transform: uppercase;
}

.direction-from .direction-label {
	background-image: url(../img/from-ico.png);
}

.direction-to .direction-label {
	background-image: url(../img/to-ico.png);	
}

.date-container {
	margin: 0 auto;
	border: 1px solid $border-color-form;
	width:  99%

}

.date{
	width: 48%;
	display: inline-block;
	padding: 8px;
}
.depature{
	margin-right: 32px;
}

.date-input{
	font-size: 18px;
	display: inline-block;
	width: 399px;
	color: $text-color-form;
	border: none;
	padding: 0;
	margin: 0;
	padding-left: 5px;
	text-transform: uppercase;
}

.departure-label{
	text-transform: uppercase;
	display: block;
	font-size: 12px;
	padding: 0;
	line-height: 1;
	padding-left: 15px;
	color: $text-color-form-main;
	background-repeat: no-repeat;
	background-position: 0 center;
	background-image: url(../img/date-ico.png);	

}

.btn-container {
	display: inline-block;
}

.btn-container button {
	width: 24px;
	height: 24px;
	background-color: $background-color-btn;
	border: 1px solid $border-color-form;
	background-repeat: no-repeat;
	background-position: center;
}

button[class*="inc"] {
	background-image: url(../img/arrow-left.png);
}
button[class*="reduce"] {
	background-image: url(../img/arrow-right.png);
}

.adult-amount-container{
	height: 60px;
	width: 48%;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid $border-color-form;
	margin-top: 20px;
	margin-right: 36px;
}

.adult-amount-label{
	display: inline-block;
	width: 40%;
	font-size: 16px;
	text-transform: uppercase;
	background-image: url(../img/adult-ico.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: 10px center;
	padding: 10px 30px;
    vertical-align: bottom;
	margin-right: 45px;
}

.adult-amount-label::after {
	content: "";
	position: absolute;
	width: 15px;
	height: 60px;
	top: 0;
	left: 50%;
	background-image: url(../img/arrow-title.png);
	background-repeat: no-repeat;
}

.amount-btn-container{
	text-align: center;
	height: 40px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 125px;
	& button {
		width: 40px;
		height: 40px;
		border: 1px solid $border-color-form;
		background-repeat: no-repeat;
		background-position: center;
		background-color: $background-color-btn;
	}
}
.adult-amount{
	font-size: 20px;
}

.class-cabine-container {
	vertical-align: bottom;
	text-transform: uppercase;
	overflow: hidden;
	height: 60px;
	width: 48%;
	display: inline-flex;
	justify-content: space-between;
	padding-left: 8px;
	border: 1px solid $border-color-form;
}

.class-cabine{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color:$text-color-form;

}

.class-cabine-title{
	font-size: 12px;
}
.class-cabine-value{
	font-size: 18px;
}
.children-amount-container{
	height: 60px;
	width: 48%;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid $border-color-form;
	margin-top: 20px;
	margin-right: 36px;
}

.children-amount-label{
	display: inline-block;
	width: 40%;
	font-size: 16px;
	text-transform: uppercase;
	background-image: url(../img/children-ico.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: 10px center;
	padding: 10px 30px;
    vertical-align: bottom;
	margin-right: 45px;
}

.children-amount-label::after {
	content: "";
	position: absolute;
	width: 15px;
	height: 60px;
	top: 0;
	left: 50%;
	background-image: url(../img/arrow-title.png);
	background-repeat: no-repeat;
}

.amount-btn-container{
	text-align: center;
	height: 40px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 125px;
	& button {
		width: 40px;
		height: 40px;
		border: 1px solid $border-color-form;
		background-repeat: no-repeat;
		background-position: center;
		background-color: $background-color-btn;
	}
}
.children-amount{
	font-size: 20px;
}

.preferred-airlines-container{
	color: $text-color-form;
	height: 60px;
	width: 48%;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid $border-color-form;
	margin-top: 20px;
	margin-right: 36px;
}

.preferred-airlines-btn{

}
.preferred-airlines-value{
	font-size: 20px;
	padding-left: 8px;
}

.flexible-dates-container{
	color: $text-color-form;
	height: 60px;
	width: 48%;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid $border-color-form;

}
.flexible-dates-value{
	font-size: 20px;
	padding-left: 8px;
}

.search-flight {
	display: block;
	width: 485px;
	height: 55px;
	margin: 20px auto 0px auto;
	border: none;
	background-color: $background-color-bright;
	font-size: 20px;
	color: $text-color-light;
	text-transform: uppercase;
	background-image: url(../img/search-ico.png);
	background-repeat: no-repeat;
	background-position: 28% center;
}

.search-type-cruise {
	font-size: 18px;
}
.search-type-hotel {
	font-size: 18px;
}

/*.search-type-cruise*/

.search-type-cruise{
	padding-top: 20px;
	font-size: 0;
}

.destinations-container{
	color: $text-color-form;
	height: 60px;
	width: 48%;
	margin-right: 20px;

	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid $border-color-form;
}

.destinations {
	padding-left: 8px;
	display: flex;
	text-transform: uppercase;
	flex-direction: column;
	justify-content: center;
	color:$text-color-form;
}
.destinations-label{
	padding-left: 12px;
	font-size: 12px;
	background-image: url(../img/location-ico.png);
	background-repeat: no-repeat;
	background-position: 0 center;
}


.departure-port-container{
	color: $text-color-form;
	height: 60px;
	width: 48%;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid $border-color-form;
}

.departure-port {
	padding-left: 8px;
	display: flex;
	text-transform: uppercase;
	flex-direction: column;
	justify-content: center;
	color:$text-color-form;

}
.departure-port-label{
	padding-left: 12px;
	font-size: 12px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/location-ico.png);
	background-position: 0 center;
}

.cruise-lines-container{
	color: $text-color-form;
	height: 60px;
	width: 48%;
	margin-right: 20px;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid $border-color-form;
}

.cruise-lines {
	padding-left: 8px;
	display: flex;
	text-transform: uppercase;
	flex-direction: column;
	justify-content: center;
	color:$text-color-form;

}
.cruise-lines-label{
	padding-left: 20px;
	font-size: 12px;
	background-image: url();
	background-repeat: no-repeat;
	background-position: 0 center;
	background-image: url(../img/ship-ico.png);
}

.cruise-ships-container{
	color: $text-color-form;
	margin-top: 20px;
	height: 60px;
	width: 48%;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid $border-color-form;
}

.cruise-ships {
	padding-left: 8px;
	display: flex;
	text-transform: uppercase;
	flex-direction: column;
	justify-content: center;
	color:$text-color-form;

}
.cruise-ships-label{
	padding-left: 20px;
		font-size: 12px;
		background-image: url();
		background-repeat: no-repeat;
		background-position: 0 center;
		background-image: url(../img/ship-ico.png);
}

.selection-btn-to-bottom {
	width: 40px;
	height: 60px;
	border: none;
	background-color: transparent;
	background-image: url(../img/arrow-bottom.png);
	background-position: center;
	background-repeat: no-repeat;
	border-left: 1px solid $border-color-form;
}

.selection-btn-to-top{
	width: 40px;
	height: 60px;
	border: none;
	background-color: transparent;
	background-image: url(../img/arrow-top.png);
	background-position: center;
	background-repeat: no-repeat;
	border-left: 1px solid $border-color-form;
}

.destinations-value,
.departure-port-value,
.cruise-lines-value,
.cruise-ships-value,
.length-value{
	font-size: 20px;
}

.departure-date-container{
	color: $text-color-form;
	padding: 8px;
	display: inline-block;
	margin-top: 20px;
	margin-right: 20px;
	height: 60px;
	width: 48%;
	border: 1px solid $border-color-form;
	text-transform: uppercase;
}
.length-container {
	color: $text-color-form;
	color: $text-color-form;
	border: 1px solid $border-color-form;
	height: 60px;

	padding-left: 8px;
	height: 60px;
	vertical-align: bottom;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 48%;
	border: 1px solid $border-color-form;
	color: $text-color-form;
	border: 1px solid $border-color-form;
	height: 60px;

	text-transform: uppercase;
}
.length-label{
	padding-left: 12px;
	font-size: 12px;
}

.search-cruise {
	display: block;
	width: 485px;
	height: 55px;
	margin-left: 50px;
	margin-top: 20px;
	border: none;
	background-color: $background-color-bright;
	font-size: 20px;
	color: $text-color-light;
	text-transform: uppercase;
	background-image: url(../img/search-ico.png);
	background-repeat: no-repeat;
	background-position: 28% center;
}

.reset-btn {
	margin-left: 120px;
	font-size: 14px;
	text-decoration: underline;
	background: none;
	border: none;
	text-transform: uppercase;
	background-image: url(../img/reset-ico.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: 0 center;
}

.search-cruise,.reset-btn {
	display: inline-block;
}


/*.search-type-hotel*/

.search-type-hotel {
	padding-top: 20px;
	font-size: 0;
}

.location-container{
	width: 100%;
	padding-left: 8px;
	padding-top: 8px;
	height: 60px;
	color: $text-color-form;
	border: 1px solid $border-color-form;
	height: 60px;

}

.location-input {
	border: none;
	display: block;
	padding-left: 10px;
	width: 100%;
	font-size: 20px;
	text-transform: uppercase;
}

.location-label {
	padding-left: 13px;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 0;
	background-image: url(../img/location-ico.png);
	background-repeat: no-repeat;
	background-position: 0 center;
}

.hotel {
	width: 100%;
	margin-top: 20px;
}

.room-container{
	color: $text-color-form;
	margin-top: 20px;
	margin-right: 19px;
	height: 60px;
	width: 49%;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid $border-color-form;
}

.room {
	padding-left: 8px;
	display: flex;
	text-transform: uppercase;
	flex-direction: column;
	justify-content: center;
	color: $text-color-form;
	width: 49%;
}

.room-label {
	padding-left: 13px;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 0;
}

.room-value{
	font-size: 20px;
}

.hotel-adult{
	margin-right: 0;
	vertical-align: bottom;
	width: 49%;
}

.rating-container{
	margin-top: 20px;
	color: $text-color-form;
	height: 60px;
	width: 49%;
	margin-right: 19px;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid $border-color-form;
}
.rating{
	padding-left: 8px;
	display: flex;
	text-transform: uppercase;
	flex-direction: column;
	justify-content: center;
	color:$text-color-form;

}
.rating-label{
	padding-left: 12px;
	font-size: 12px;
}
.rating-value{
	font-size: 20px;
	padding-left: 8px;
}

.hotel-children {
	width: 45%;
	margin-right: 0;
	margin-top: 0;
	padding-right: 40px;
	vertical-align: bottom;
}

.hotel-children-1 {
	width: 45%;
	width: 45%;
	padding-right: 40px;
	margin-left: calc(48% + 30px);
}

.children-amount-1 {
	display: block;
	width: 120px;
	height: 40px;
}

.serch-hotel-btn {
	display: block;
	width: 485px;
	height: 55px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	background-color: $background-color-bright;
	font-size: 20px;
	color: $text-color-light;
	text-transform: uppercase;
	background-image: url(../img/search-ico.png);
	background-repeat: no-repeat;
	background-position: 28% center;
}