@import 'glob-var/_glob-var.scss';
@import 'mixin/_mixin.scss';

.search{
	height: 720px;
	background-image: url(../img/bg-search.png);
	font-family: "OpenSans", sans-serif;
}

.search-container {
	height: 420px;
	width: 620px;
	display: flex;
	margin-left: 25%;
	margin-top: 50px;
}

.search-tabs {
	width: 20%;
	height: 100%;
	background-color: #f5f5f5;
	font-size: 15px;
	-webkit-box-shadow: inset -14px 1px 18px -17px rgba(0,0,0,0.75);
	-moz-box-shadow: inset -14px 1px 18px -17px rgba(0,0,0,0.75);
	box-shadow: inset -14px 1px 18px -17px rgba(0,0,0,0.75);
}

.sarch-form{
	width: 80%;
	height: 100%;
	background-color: #fff;
	font-size: 13px;
	color: $text-color-form-main;
}

.search-tab{
	display: block;
	height: 85px;
	padding-top: 50px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center 15px;
}

.fligth-search {
	height: 100%;
	padding: 10px;
	padding-top: 0;
}

.flight-tab{
	background-image: url(../img/flight10.png);
}
.cruise-tab{
	background-image: url(../img/cruise10.png);
}
.hotel-tab{
	background-image: url(../img/hotel10.png);
}

.active-tab {
	background-color: #fff;
	color: $background-color-bright;
	border-bottom: 1px solid $border-color-form;
}

.active-tab.flight-tab{
	background-image: url(../img/flight10-active.png);
}
.active-tab.cruise-tab{
	background-image: url(../img/cruise10-active.png);
}
.active-tab.hotel-tab{
	background-image: url(../img/hotel10-active.png);
}

.fligth-search {
	display: none;
}

.flight-types{
	display: flex;
	justify-content: center;
}

.flight-type {
	height: 20px;
	padding-left: 30px;
	margin-top: 25px;
}

.flight-type:not(:last-child) {
	margin-right: 20px;
}

.locations{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.location-input{
	width: 48%;
	height: 45px;
	padding-left: 35px;
	background-repeat: no-repeat;
	background-position: 5px center;

	background-color: #f5f5f5;
	border: 1px solid $border-color-form;
}

.return-input{
	background-image: url(../img/plane-ret.png);

}
.departure-input{
	background-image: url(../img/plane-dep.png);
}

.dates{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.date-input{
	width: 48%;
	height: 45px;
	padding-left: 35px;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-color: #f5f5f5;
	border: 1px solid $border-color-form;
}

.departure-date{
	background-image: url(../img/date-ico.png);
}
.return-date{
	background-image: url(../img/date-ico.png);
}

.travellers{
	display: flex;
	justify-content: space-between;
	height: 45px;
	margin-top: 10px;



} 

.travellers * {
	height: 45px;

}

.travellers-amount{
	width: 32%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-content: center;
	line-height: 3.5;

	background-color: #f5f5f5;
	border: 1px solid $border-color-form;
}

.travellers-amount button{
	width: 35px;
}

.traveller-amount {
	width: auto;
	display: block;
}

.class-cabine-input {
	margin-top: 10px;
	width: 100%;
	height: 45px;
	padding-left: 20px;
	background-color: #f5f5f5;
	border: 1px solid $border-color-form;
	color: $text-color-form-main;
}

.airlines {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.airlines-input {
	width: 48%;
	height: 45px;
	padding-left: 20px;
	background-color: #f5f5f5;
	border: 1px solid $border-color-form;
}

.radio-options{
	display: inline-block;
	padding-left: 30px;
	margin-left: 15px;
	margin-top: 10px;
}

.radio-options, .flight-type {
	background-image: url(../img/radio-unchecked.png);
	background-repeat: no-repeat;
	background-position: 5px center;
}

#round-trip:checked ~ label[for="round-trip"] {
	background-image: url(../img/radio-checked.png);
}
#one-way:checked ~ label[for="one-way"] {
	background-image: url(../img/radio-checked.png);
}
#multi-city:checked ~ label[for="multi-city"] {
	background-image: url(../img/radio-checked.png);
}

.flight-types input {
	display: none;
}

#flexible-dates:checked ~ label[for="flexible-dates"] {
	background-image: url(../img/radio-checked.png);
}
#direct-flights:checked ~ label[for="direct-flights"] {
	background-image: url(../img/radio-checked.png);
}
#fares-with:checked ~ label[for="fares-with"] {
	background-image: url(../img/radio-checked.png);
}
#nearby-airports:checked ~ label[for="nearby-airports"] {
	background-image: url(../img/radio-checked.png);
}

#flexible-dates,
#direct-flights,
#fares-with,
#nearby-airports {
	display: none;
}

.search-btn {
	width: 200px;
	height: 45px;
	float: right;
	margin-top: 15px;
	background-color: $background-color-bright;
	border: none;
	color: #fff;
	font-size: 19px;
	background-image: url(../img/search-ico.png);
	background-repeat: no-repeat;
	background-position: 15px center;
}

/*cruise search*/

.cruise-search{
	padding: 5px 10px 10px 10px;
	display: none;
	justify-content: space-between;
	flex-wrap: wrap;
}

.cruise-input-wrap{
	width: 48%;
	height: 45px;
	margin-top: 15px;
	background-color: #f5f5f5;
	border: 1px solid $border-color-form;
	overflow: hidden;
	background-image: url(../img/arrow-bottom.png);
	background-repeat: no-repeat;
	background-position: 95% center;
}

.cruise-input {
	width: 100%;
	height: 45px;
	background-color: transparent;
	border: none;
	color: $text-color-form-main;

}

.cruise-select {
	width: 110%;
	padding-left: 35px;
}

.cruise-date {
	width: 48%;
	height: 45px;
	margin-top: 15px;
	background-color: #f5f5f5;
	border: 1px solid $border-color-form;
}

.cruise-search-btn {
	width: 48%;
	height: 45px;

}

.reset-cruise-search {
	width: 80px;
	height: 45px;
	margin-top: 15px;
	margin-left: calc(48% - 80px);
	background-color: #f5f5f5;
	border: 1px solid $border-color-form;
	color: $text-color-form-main;

}

.cruise-date {
	padding-left: 35px;
}

.departure {
	background: url(../img/location-lg.png) no-repeat 15px center;
}
.departure-port {
	background: url(../img/location-lg.png) no-repeat 15px center;
}
.cruise-lines {
	background: url(../img/cruise10.png) no-repeat 10px center;
}
.cruise-ships {
	background: url(../img/cruise10.png) no-repeat 10px center;
}
.cruise-date {
	background: url(../img/date-ico.png) no-repeat 15px center;
}
.cruise-length {
	background: url(../img/length-ico.png) no-repeat 15px center;
}

.reset-cruise-search {
	padding-left: 20px;
	background-image: url(../img/reset-ico.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}

/*// hotel-search*/

.hotel-search {
	padding: 0px 10px 10px 10px;
	display: none;
}

.hotel-input {
	width: 100%;
	height: 45px;
	margin-top: 20px;
	background-repeat: no-repeat;
	background-position: 10px center;
}


.hotel-loc-input{
	padding-left: 30px;
	background-color: #f5f5f5;
	border: 1px solid $border-color-form;
	background-image: url(../img/location-lg.png);

}

.hotel-date-input {
	display: flex;
	flex-wrap: nowrap;
	font-size: 0;
}

.hotel-departure,
.hotel-return-date {
	width: 50%;
	padding-left: 30px;
	background-color: #f5f5f5;
	border: 1px solid $border-color-form;
	box-sizing: border-box;
	background-image: url(../img/date-ico.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}

.hotel-input-wrap {
	width: 100%;
	margin-top: 15px;
	overflow: hidden;
	background-color: #f5f5f5;
	border: 1px solid $border-color-form;
	background-image: url(../img/arrow-bottom.png);
	background-repeat: no-repeat;
	background-position: 97% center;
}

.select-hotel-rating{
	margin: 0;
	width: 105%;
	border: none;
	background-color: transparent;
	padding-left: 30px;
	background-image: url(../img/star-ico.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	color:$text-color-form-main;
}

.hotel-travellers {
	display: flex;
	height: auto;
	flex-wrap: wrap;
	justify-content: space-between;
}

.hotel-travellers-amount {
	width: 32%;
	margin-bottom: 15px;
	height: 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f5f5f5;
	border: 1px solid $border-color-form;
}

.dec-amount,
.inc-amount {
	height: 100%;
	width: 35px;
	border: none;
	color:$text-color-form-main;
	font-size: 24px;
}


.hotel-traveller-amount {
	height: 100%;
	line-height: 3.5;
}
.anoumt-value {
	height: 100%;
}

.chlild-age-1,
.chlild-age-2 {
	background-color: transparent;
	border: none;
	font-size: 13px;
}

.chlild-age-2 {
	margin-right: 34%;
}


.child-age-value{
	width: 50px;
	height: 45px;
	background-color: #f5f5f5;
	border: 1px solid $border-color-form;
	font-size: 13px;
}


input#search-type-flight:checked ~  .fligth-search{
	display: block;
}
input#search-type-cruise:checked ~  .cruise-search{
	display: flex;
}
input#search-type-hotel:checked  ~ .hotel-search{
	display: block;
}

input#search-type-flight,
input#search-type-cruise,
input#search-type-hotel {
	display: none;
}