@import 'glob-var/_glob-var.scss';
@import 'mixin/mixin.scss';
@import 'mixin/mixin.scss';

.search {
	background-image: url(../img/bg-search.png);
	background-size: cover;
	height: 870px;
}

.search-nav{

	@include font("Dense", 30px, 500);
	line-height: 3;
	height: 80px;
	// font-size: 20px;
	text-transform: uppercase;
	background-color: rgba(34,34,34,0.64);
}

.logo-container{
	@include font("Dense", 72px, 500);
	line-height: 1;
}

.search-nav-container{
	display: flex;
	justify-content: space-between;

	& a {
		display: inline-block;
		height: 80px;
	}

	& a:not(:last-child) {
		margin-right: 10px;
	}

	& a:hover {
		border-bottom: 3px solid $background-color-btn-bright;
		text-decoration: none;
	}
}



.search-nav__item {
	height: 100%;
	color: $text-color-light;
}

.search-nav__item:hover{
	color: $text-color-light;
}

.search-form-container{
	background-color: $text-color-light;
	padding: 0 20px 20px 20px;
	font-size: 0;
	font-family: "OpenSans";
}

.search-form {
	margin-top: 15px;
	margin-left: 15px;
	width: 1020px;
}
.search-form-tabs {
	font-size: 0;
}

.search-form-tabs__tab{
	@include font("OpenSans", 20px, 300);
	margin-right: 5px;
	margin-bottom: 0;
	display: inline-block;
	color: $text-color-light;
	width:184px;
	height:74px;
	font-size: 20px;
	text-align: center;
	line-height: 74px;
	text-transform: uppercase;
	background-color: $background-color-bright;
	background-repeat: no-repeat;
	background-position: 15% center;

	&.active-tab {
		background-color: $background-color-light;
		color: $text-color-darkless;
	}
	&:hover{
		color: $background-color-light;
	}
}

.search-type-flight{
	display: none;
}
.search-type-cruise{
	display: none;
}
.search-type-hotel{
	display: none;
}

input[id="display-search-type-flight"]:checked ~ .search-type-flight {
	display: block;
}
input[id="display-search-type-cruise"]:checked ~ .search-type-cruise {
	display: block;
}
input[id="display-search-type-hotel"]:checked ~ .search-type-hotel {
	display: block;
}

input[name="display-search-type"] {
	display: none;
}

.flight-tab {
	padding-left: 15px;
	background-image: url(../img/flight-ico.png);
	&.active-tab{
		background-image: url(../img/flight-active-ico.png);
	}
}

.active-tab:hover{
	color: $text-color-darkless;
}

.cruise-tab {
	padding-left: 15px;

	background-image: url(../img/cruise-ico.png);
	&.active-tab{
		background-image: url(../img/cruise-active-ico.png);
	}
}
.hotel-tab {

	background-image: url(../img/hotel-ico.png);
	&.active-tab{
		background-image: url(../img/hotel-active-ico.png);
	}
}

.search-type-container {
	width: 100%;

}

.flight-type{
	font-size: 0px;
}
.flight-type-label {
	@include font("OpenSans", 16px, 300);
	color: #828282;
	line-height: 83px;
	padding-left: 40px;
	padding-right: 10px;
	height: 80px;
	margin-bottom: 0;
	display: inline-block;
	text-transform: uppercase;
	background-image: url(../img/uncheck.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}

.flight-type input {
	display: none;
}

input[id="flight-type-round-trip"]:checked ~ 
.flight-type-label[for="flight-type-round-trip"]{
	background-image: url(../img/check.png);
}

input[id="flight-type-multi-city"]:checked ~ 
.flight-type-label[for="flight-type-multi-city"]{
	background-image: url(../img/check.png);
}

input[id="flight-type-one-way"]:checked ~ 
.flight-type-label[for="flight-type-one-way"]{
	background-image: url(../img/check.png);
}

.direction_item {
	width: 48%;
	/*height: 60px;*/
	display: inline-block;
}
.direction-container{
	font-size: 0;
	display: flex;
	width: 99%;
	margin: 0 auto 20px auto;
}
.direction_item{
	padding: 8px;
	border: 1px solid $border-color-form;
}
.direction-label {
	display: block;
	font-size: 12px;
	padding: 0;
	text-transform: uppercase;
	line-height: 1;
	padding-left: 15px;
	color: $text-color-form-main;
	background-repeat: no-repeat;
	background-position: 0 center;
}
.direction-from {
	margin-right: 4%;
	margin-left: 0;
}
.direction_item input {
	font-size: 18px;
	display: block;
	width: 100%;
	color: $text-color-form;
	border: none;
	padding: 0;
	margin: 0;
	padding-left: 5px;
	text-transform: uppercase;
}

.direction-from .direction-label {
	background-image: url(../img/from-ico.png);
}

.direction-to .direction-label {
	background-image: url(../img/to-ico.png);	
}

.date-container {
	margin: 0 auto;
	border: 1px solid $border-color-form;
	width:  99%

}

.date{
	width: 48%;
	display: inline-block;
	padding: 8px;
}
.depature{
	margin-right: 32px;
}

.date-input{
	font-size: 18px;
	display: inline-block;
	width: 399px;
	color: $text-color-form;
	border: none;
	padding: 0;
	margin: 0;
	padding-left: 5px;
	text-transform: uppercase;
}

.departure-label{
	text-transform: uppercase;
	display: block;
	font-size: 12px;
	padding: 0;
	line-height: 1;
	padding-left: 15px;
	color: $text-color-form-main;
	background-repeat: no-repeat;
	background-position: 0 center;
	background-image: url(../img/date-ico.png);	

}

.btn-container {
	display: inline-block;
}

.btn-container button {
	width: 24px;
	height: 24px;
	background-color: $background-color-btn;
	border: 1px solid $border-color-form;
	background-repeat: no-repeat;
	background-position: center;
}

button[class*="inc"] {
	background-image: url(../img/arrow-left.png);
}
button[class*="reduce"] {
	background-image: url(../img/arrow-right.png);
}

.adult-amount-container{
	height: 60px;
	width: 48%;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid $border-color-form;
	margin-top: 20px;
	margin-right: 4%;
}

.adult-amount-label{
	display: inline-block;
	width: 45%;
	font-size: 16px;
	text-transform: uppercase;
	background-image: url(../img/adult-ico.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: 10px center;
	padding: 10px 30px;
   vertical-align: bottom;
	margin-right: 8%;
}

.adult-amount-label::after {
	content: "";
	position: absolute;
	margin: 0 5px;
	width: 15px;
	height: 60px;
	top: 0;
	left: 45%;
	background-image: url(../img/arrow-title.png);
	background-repeat: no-repeat;
}

.amount-btn-container{
	text-align: center;
	height: 40px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 125px;
	& button {
		width: 40px;
		height: 40px;
		border: 1px solid $border-color-form;
		background-repeat: no-repeat;
		background-position: center;
		background-color: $background-color-btn;
	}
}
.adult-amount{
	font-size: 20px;
	margin: 0 5px;
}

.class-cabine-container {
	vertical-align: bottom;
	text-transform: uppercase;
	overflow: hidden;
	height: 60px;
	width: 48%;
	display: inline-flex;
	justify-content: space-between;
	padding-left: 8px;
	border: 1px solid $border-color-form;
}

.class-cabine{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color:$text-color-form;

}

.class-cabine-title{
	font-size: 12px;
}
.class-cabine-value{
	font-size: 18px;
}
.children-amount-container{
	height: 60px;
	width: 48%;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid $border-color-form;
	margin-top: 20px;
	margin-right: 4%;
}

.children-amount-label{
	display: inline-block;
	width: 45%;
	font-size: 16px;
	text-transform: uppercase;
	background-image: url(../img/children-ico.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: 10px center;
	padding: 10px 30px;
    vertical-align: bottom;
	margin-right: 8%;
}

.children-amount-label::after {
	content: "";
	position: absolute;
	width: 15px;
	height: 60px;
	top: 0;
	left: 50%;
	background-image: url(../img/arrow-title.png);
	background-repeat: no-repeat;
}

.amount-btn-container{
	text-align: center;
	height: 40px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 125px;
	& button {
		width: 40px;
		height: 40px;
		border: 1px solid $border-color-form;
		background-repeat: no-repeat;
		background-position: center;
		background-color: $background-color-btn;
	}
}
.children-amount{
	font-size: 20px;
	margin: 0 5px;
}

.preferred-airlines-container{
	color: $text-color-form;
	height: 60px;
	width: 48%;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid $border-color-form;
	margin-top: 20px;
	margin-right: 4%;
}

.preferred-airlines-btn{

}
.preferred-airlines-value{
	font-size: 20px;
	padding-left: 8px;
}

.flexible-dates-container{
	color: $text-color-form;
	height: 60px;
	width: 48%;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid $border-color-form;

}
.flexible-dates-value{
	font-size: 20px;
	padding-left: 8px;
}

.search-flight {
	display: block;
	width: 485px;
	height: 55px;
	margin: 20px auto 0px auto;
	border: none;
	background-color: $background-color-bright;
	font-size: 20px;
	color: $text-color-light;
	text-transform: uppercase;
	background-image: url(../img/search-ico.png);
	background-repeat: no-repeat;
	background-position: 28% center;
}

.search-type-cruise {
	font-size: 18px;
}
.search-type-hotel {
	font-size: 18px;
}

/*.search-type-cruise*/

.search-type-cruise{
	padding-top: 20px;
	font-size: 0;
}

.destinations-container{
	color: $text-color-form;
	height: 60px;
	width: 48%;
	margin-right: 20px;

	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid $border-color-form;
}

.destinations {
	padding-left: 8px;
	display: flex;
	text-transform: uppercase;
	flex-direction: column;
	justify-content: center;
	color:$text-color-form;
}
.destinations-label{
	padding-left: 12px;
	font-size: 12px;
	background-image: url(../img/location-ico.png);
	background-repeat: no-repeat;
	background-position: 0 center;
}


.departure-port-container{
	color: $text-color-form;
	height: 60px;
	width: 48%;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid $border-color-form;
}

.departure-port {
	padding-left: 8px;
	display: flex;
	text-transform: uppercase;
	flex-direction: column;
	justify-content: center;
	color:$text-color-form;

}
.departure-port-label{
	padding-left: 12px;
	font-size: 12px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/location-ico.png);
	background-position: 0 center;
}

.cruise-lines-container{
	color: $text-color-form;
	height: 60px;
	width: 48%;
	margin-right: 20px;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid $border-color-form;
}

.cruise-lines {
	padding-left: 8px;
	display: flex;
	text-transform: uppercase;
	flex-direction: column;
	justify-content: center;
	color:$text-color-form;

}
.cruise-lines-label{
	padding-left: 20px;
	font-size: 12px;
	background-image: url();
	background-repeat: no-repeat;
	background-position: 0 center;
	background-image: url(../img/ship-ico.png);
}

.cruise-ships-container{
	color: $text-color-form;
	margin-top: 20px;
	height: 60px;
	width: 48%;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid $border-color-form;
}

.cruise-ships {
	padding-left: 8px;
	display: flex;
	text-transform: uppercase;
	flex-direction: column;
	justify-content: center;
	color:$text-color-form;

}
.cruise-ships-label{
	padding-left: 20px;
		font-size: 12px;
		background-image: url();
		background-repeat: no-repeat;
		background-position: 0 center;
		background-image: url(../img/ship-ico.png);
}

.selection-btn-to-bottom {
	width: 40px;
	height: 60px;
	border: none;
	background-color: transparent;
	background-image: url(../img/arrow-bottom.png);
	background-position: center;
	background-repeat: no-repeat;
	border-left: 1px solid $border-color-form;
}

.selection-btn-to-top{
	width: 40px;
	height: 60px;
	border: none;
	background-color: transparent;
	background-image: url(../img/arrow-top.png);
	background-position: center;
	background-repeat: no-repeat;
	border-left: 1px solid $border-color-form;
	margin-left: 5px;
}

.destinations-value,
.departure-port-value,
.cruise-lines-value,
.cruise-ships-value,
.length-value{
	font-size: 20px;
}

.departure-date-container{
	color: $text-color-form;
	padding: 8px;
	display: inline-block;
	margin-top: 20px;
	margin-right: 20px;
	height: 60px;
	width: 48%;
	border: 1px solid $border-color-form;
	text-transform: uppercase;
}
.length-container {
	color: $text-color-form;
	color: $text-color-form;
	border: 1px solid $border-color-form;
	height: 60px;

	padding-left: 8px;
	height: 60px;
	vertical-align: bottom;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 48%;
	border: 1px solid $border-color-form;
	color: $text-color-form;
	border: 1px solid $border-color-form;
	height: 60px;

	text-transform: uppercase;
}
.length-label{
	padding-left: 12px;
	font-size: 12px;
}

.search-cruise {
	display: block;
	width: 485px;
	height: 55px;
	margin-left: 50px;
	margin-top: 20px;
	border: none;
	background-color: $background-color-bright;
	font-size: 20px;
	color: $text-color-light;
	text-transform: uppercase;
	background-image: url(../img/search-ico.png);
	background-repeat: no-repeat;
	background-position: 28% center;
}

.reset-btn {
	margin-left: 120px;
	font-size: 14px;
	text-decoration: underline;
	background: none;
	border: none;
	text-transform: uppercase;
	background-image: url(../img/reset-ico.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: 0 center;
}

.search-cruise,.reset-btn {
	display: inline-block;
}


/*.search-type-hotel*/

.search-type-hotel {
	padding-top: 20px;
	font-size: 0;
}

.location-container{
	width: 100%;
	padding-left: 8px;
	padding-top: 8px;
	height: 60px;
	color: $text-color-form;
	border: 1px solid $border-color-form;
	height: 60px;

}

.location-input {
	border: none;
	display: block;
	padding-left: 10px;
	width: 100%;
	font-size: 20px;
	text-transform: uppercase;
}

.location-label {
	padding-left: 13px;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 0;
	background-image: url(../img/location-ico.png);
	background-repeat: no-repeat;
	background-position: 0 center;
}

.hotel {
	width: 100%;
	margin-top: 20px;
}

.room-container{
	color: $text-color-form;
	margin-top: 20px;
	margin-right: 19px;
	height: 60px;
	width: 49%;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid $border-color-form;
}

.room {
	padding-left: 8px;
	display: flex;
	text-transform: uppercase;
	flex-direction: column;
	justify-content: center;
	color: $text-color-form;
	width: 49%;
}

.room-label {
	padding-left: 13px;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 0;
}

.room-value{
	font-size: 20px;
}

.hotel-adult{
	margin-right: 0;
	vertical-align: bottom;
	width: 49%;
}

.rating-container{
	margin-top: 20px;
	color: $text-color-form;
	height: 60px;
	width: 49%;
	margin-right: 19px;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid $border-color-form;
}
.rating{
	padding-left: 8px;
	display: flex;
	text-transform: uppercase;
	flex-direction: column;
	justify-content: center;
	color:$text-color-form;

}
.rating-label{
	padding-left: 12px;
	font-size: 12px;
}
.rating-value{
	font-size: 20px;
	padding-left: 8px;
}

.hotel-children {
	width: 45%;
	margin-right: 0;
	margin-top: 0;
	padding-right: 40px;
	vertical-align: bottom;
}

.hotel-children-1 {
	width: 45%;
	width: 45%;
	padding-right: 40px;
	margin-left: calc(48% + 30px);
}

.children-amount-1 {
	display: block;
	width: 125px;
	height: 40px;
}

.serch-hotel-btn {
	display: block;
	width: 485px;
	height: 55px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	background-color: $background-color-bright;
	font-size: 20px;
	color: $text-color-light;
	text-transform: uppercase;
	background-image: url(../img/search-ico.png);
	background-repeat: no-repeat;
	background-position: 28% center;
}
.direction-label,
.departure-label,
.class-cabine-title,
.destinations-label,
.departure-port-label,
.cruise-lines-label,
.cruise-ships-label,
.departure-label,
.length-label,
.location-label,
.room-label{
	@include font("OpenSans", 12px, 500);
	color: $text-color-form-main;
}


/*///////////////
// search-13 //
///////////////*/

.search13-container {
	margin-top: 120px;
	margin-left: 10%;
}


.search13-tabs {
	display: flex;
	align-content: center;
}

.search13-tab {
	position: relative;
	width: 105px;
	height: 45px;
	margin-right: 5px;
	text-transform: uppercase;
	line-height: 50px;
	padding-left: 40px;
	background-position: 5px center;
	color:$text-color-light;
	background-color: $tab-bg-color;
	background-repeat: no-repeat;
	border-color: $tab-bg-color;
}

.search13-tab.active13-tab::after {
	content: "";
	display: block;
	box-sizing: content-box;

	border-top-width: 16px;
	border-top-style: solid;
	border-top-color: #f78620;

	border-left-width: 13px;
	border-left-style: solid;
	border-left-color: transparent;
	
	border-right-width: 13px;
	border-right-style: solid;
	border-right-color: transparent;

	position: absolute;
	top: 100%;
}

.search13-tab.active13-tab{
	background-color: #f78620;
}

.flight-search13{
	margin-top: 16px;
	padding: 10px;
	padding-right: 0;
	background-color: rgba(255, 255, 255, 0.75);
	display: none;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: center;
	width: 1025px;
}

.flight-search13 > * {
	border: 1px solid $text-color-form;
	margin-right: 5px;
}

.flight-from{
	width: 210px;
	height: 52px;
	border:none;
	padding-left: 20px;
	background-image: url('../img/from-ico.png');
	background-repeat: no-repeat;
	background-position: 5px center;
	border: 1px solid $text-color-form;


}
.flight-to{
	width: 210px;
	height: 52px;
	border:none;
	padding-left: 20px;
	background-image: url('../img/from-ico.png');
	background-repeat: no-repeat;
	background-position: 5px center;
	border: 1px solid $text-color-form;


}
.data-container{
	width: 190px;
	background-color: $text-color-light;
	display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 20px;
  padding-right: 5px;

  background-image: url('../img/date-ico.png');
  background-repeat: no-repeat;
  background-position: 5px center;
}

.type-flight{
	width: 80px;
}
.type-flight-exact,
.type-flight-flexible {
	height: 50%;
	text-transform: uppercase;
	background-color: $text-color-light;
	line-height: 1.5;
	text-align: center;
	color: $text-color-form;
}

.active-type-flight {
	background-color: $background-color-bright;
	color: $text-color-light;
}

.total-travellers{
	width: 125px;
	background: url(../img/man-ico.png) 3px center no-repeat, 
              url(../img/trident-to-bottom.png) 110px center no-repeat;

  background-color: $text-color-light;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.total-travellers-value{
	margin-right: 3px;
}

.search13-btn{
	width: 145px;
	background-color: $background-color-bright;
	background-image: url(../img/search-ico.png);
	border:none;
	background-repeat: no-repeat;
	background-position: 5px center;
	color: $text-color-light;
}

.total-travellers-option{
	width: 215px;
	height: 115px;

	position: absolute;

	top: 105%;
	left: 0;
	
  background-color: $text-color-light;
	border: 1px solid $text-color-form;
}

.total-travellers-option {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5px;
}


.tarveller-amount {
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	padding: 0;
	margin: 0;
	text-transform: capitalize;
}

.traveller-btn-container {
	font-size: 0;
	margin-right: 5px;
}

.traveller-title {
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.traveller-btn-container button {
	width: 22px;
	height: 22px;
	border: 1px solid $text-color-form;
	font-size: 18px;
	line-height: 1;
	color: $text-color-form;
	background-image: none;
}

.travellrer-value {
	width: 22px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	height: 22px;
	font-size: 16px;
	border-bottom: 1px solid $text-color-form;
	border-top: 1px solid $text-color-form;
}

.adoult-amount .traveller-title {
	background-repeat: no-repeat;
	background-position: 0 center;
	background-image: url(../img/adult-ico.png);
}
.children-amount .traveller-title {
	background-repeat: no-repeat;
	background-position: 0 center;
	background-image: url(../img/children-ico.png);
}
.infants-amount .traveller-title {
	background-repeat: no-repeat;
	background-position: 0 center;
	background-image: url(../img/infrant.png);
}


.trip-type-container {
	display: flex;
	border: none;
	border-bottom: 1px solid  $background-color-bright;
	margin-top: 10px;
	color: $background-color-bright;
	position: relative;
	cursor: pointer;
}

.trip-type-value::after {
	content: "";
	display: block;
	width: 9px;
	height: 6px;
	position: absolute;
	background-image: url(../img/to-bottom-bright.png);
	right: -15px;
	top: 7px;
}


.trip-type-options{
	display: none;
	position: absolute;
	top: 25px;
	width: 140px;
	color: black;
	border: 1px solid  $text-color-form;
	background-color: rgba(255, 255, 255, 1);
	margin: 0;
	padding: 5px;
}

.trip-type-options li {
	padding: 5px;
	border-bottom: 1px dotted black;
}

.trip-type-options li:hover {
	background-color: $text-color-form;
}

.addtional-options {
	border: none;
	position: relative;
	margin-left: 20px;
	border-bottom: 1px solid  $background-color-bright;
	margin-top: 10px;
	color: $background-color-bright;
	cursor: pointer;
}

.addtional-options-container {
	position: absolute;
	top: 50px;
	left: -182px;
	width: 650px;
	height: 55px;
	display: flex;
	justify-content: space-between;
}

.addtional-options-container > * {
	width: 32%;
	padding-left: 20px;
}


/*cruise-search13*/
 
 .cruise-search13 {
 	box-sizing: border-box;
	margin-top: 16px;
	padding: 10px;
	padding-bottom: 0;
	background-color: rgba(255, 255, 255, 0.75);
	display: none;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: center;
	width: 1025px;
}

.cruise-input{
	width: 205px;
	height: 50px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position: 10px center;
	border: 1px solid $text-color-form;
	background-color: #fff;

}

.destinations-input{
	background-image: url(../img/location-ico.png);
}
.departure-port-input{
	background-image: url(../img/location-ico.png);
}
.cruise-lines-input{
	background-image: url(../img/ship-ico.png);
}
.cruise-date-input{
	background-image: url(../img/date-ico.png);
}
.cruise-search-13-btn{
	width: 140px;
	height: 50px;
	background-color: $background-color-bright;
	background-image: url(../img/search-ico.png);
	border:none;
	background-repeat: no-repeat;
	background-position: 5px center;
	color: $text-color-light;
}

.cruise-ships-input {
	background-image: url(../img/ship-ico.png);
}

.length-select{
	background-image: url(../img/length-ico.png);
}

.reset-search13-cruise-btn{
	background-color: #fff;
	height: 50px;
	width: 80px;
	background-image: url(../img/reset-ico.png);
}

/*.hotel-search13*/

.hotel-search13 {
 	box-sizing: border-box;
	margin-top: 16px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.75);
	display: none;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: center;
	width: 1025px;
}

.hotel-input {
	height: 50px;
	padding-left: 25px;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: 10px center;
	border: 1px solid $text-color-form;
	background-color: #fff;

}

.hotel-location{
	width: 380px;
	background-image: url(../img/from-ico.png);
}

.hotel-data-container {
	width: 190px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-image: url(../img/date-ico.png);
}

.hotel-data-input{
	width: 49%;
	border: none;
	padding-left: 5px;
}
.hotel-raiting{
	width: 125px;
	padding-right: 10px;
	background-image: url(../img/star-ico.png);
}

.hotel-travellers{
	width: 125px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 10px;
	padding-right: 10px;
	background: url(../img/man-ico.png) 3px center no-repeat, 
              url(../img/trident-to-bottom.png) 110px center no-repeat;
  background-color: #fff;
  position: relative;
}

.hotel-travellers-value {
	margin-right: 5px;
}

.hotel-search-13-btn {
	width: 140px;
	background-color: $background-color-bright;
	background-image: url(../img/search-ico.png);
	border:none;
	background-repeat: no-repeat;
	background-position: 5px center;
	color: $text-color-light;
	margin-right: 0;
}

.hotel-travellers-options {
	display: flex;
	flex-direction: column;
	position: absolute;
	font-size: 13px;
	width: 215px;
	background-color: #fff;
	top: calc(100% + 5px);
	left: 0;
	padding: 5px;
	border: 1px solid $border-color-form;
}

.hotel-amount {
	display: flex;
	padding-top: 5px;
	padding-bottom: 5px;
	justify-content: space-between;
	flex-direction: row;
}

.hotel-clild-age-1-amount-input {
	width: 40px;
	height: 22px;
}
.hotel-btn-container{
	font-size: 0;
}

.hotel-travellrer-value {
	width: 22px;
	height: 22px;
	vertical-align: top;
	text-align: center;
	font-size: 16px;
	border-bottom: 1px solid $text-color-form;
	border-top: 1px solid $text-color-form;
	display: inline-block;
}

.hotel-btn-container button {
	width: 22px;
	height: 22px;
	background-color: #dcdcdc;
	border: 1px solid $border-color-form;
	background-image: none;
	border: 1px solid $text-color-form;
	font-size: 18px;
	line-height: 1;
	color: $text-color-form;
}

.hotel-title {
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-repeat: no-repeat;
	background-position: 5px center;
}

.hotel-room-amount .hotel-title{
	background-image: url(../img/room-ico.png);
}

.hotel-adult-amount .hotel-title{
	background-image: url(../img/adult-ico.png);
}

.hotel-clild-amount .hotel-title{
	background-image: url(../img/children-ico.png);
}

.hotel-clild-age-1-amount .hotel-title{
	background-image: url(../img/children-ico.png);
}

.hotel-clild-age-1-amount {
	border-bottom: 1px dotted #000;
}
.display-none {
	display: none;
}

input#flight-search13-input:checked ~ .flight-search13 {
	display: flex;
}
input#cruise-search13-input:checked ~ .cruise-search13 {
	display: flex;
}
input#hotel-search13-input:checked ~ .hotel-search13 {
	display: flex;
}

input#flight-search13-input {
	display: none;
}
input#cruise-search13-input {
	display: none;
}
input#hotel-search13-input {
	display: none;
}

.advantage h2{
	width: 95%;
	margin: 0 auto;
	margin-bottom: 70px;
	text-transform: uppercase;
}

.advantage-search13 {
	background-image: none !important;
	height: auto !important;
}

.latest-offer-search13 {
	margin-top: 180px !important;
}

